<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Gallery</title>
</head>
<body>
    <div class="gallery">
        <h1 data-text="Gallery">Gallery</h1>
    <div class="galltext">
        <p>Gallery</p>
    </div>
    <div class="text">
        <p id="type"><b style="color: aliceblue;">Nimbus 2020 was awesome.</b><br><br></p>
    </div>
    </div>
    <script src="gallscript.js"></script>
    <script src="main.js"></script>
</body>
</html>