*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    overflow: hidden;
    height: 100vh;
    background: black;
   
}
section{
    height: 100vh;
    position: absolute;
}
span{
    position: absolute;
    pointer-events: none;
    background: #fff;
    animation: animate 5s linear infinite;
}
@keyframes animate{
    0%{
        transform: scale(0) translateY(0) rotate(0deg);
    }
    100%{
        transform: scale(1) translateY(-500%) rotate(360deg);
    }
}

.gallery{
    background-color: #000000;
    /* position: absolute; */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}

.carousel{
    position: relative;
    transform-style: preserve-3d;
    transform-origin: center;
    width: 400px;
    height: 400px;
    transform: rotateX(-5deg);
}

.hex{
    position: absolute;
    width: 352px;
    height: 400px;
    background-repeat: no-repeat;
    background-size: contain;
}

