body{
    margin: 0rem;
    padding: 0rem;
}

.gallery{
    background-color: black;
    height: 100vh;
    /* width: 100vw; */
}

.boll{
    position: relative;
    top: 15rem;
    left: 45%;
    transform-style: preserve-3d;
    transform-origin: left;
    animation-name: rotate;
    animation-duration: 8s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

.hex{
    position: absolute;
    width: 173px;
    height: 200px;
}

.pent{
    position: absolute;
    width: 161.8px;
    height: 153.9px;
}

@keyframes rotate{
    0%{
        transform: rotate3d(1,1,1,0deg);
    }
    100%{
        transform: rotate3d(1,1,1,360deg);
    }
}